streamlit
langchain
langchain-chroma
langchain-huggingface
langchain-openrouter
langchain-openai
sentence-transformers
openai
torchvision
posthog==5.4.0
protobuf==3.20.3
chromadb==0.5.23
langchain_community
